.studio-header {
    & + .container-fluid,
    & + .m-0.mt-4.justify-content-center {
        flex: 1 1 auto;
    }
}

.settingsWidget .btn-inline.text-info-500 {
    color: $primary !important;

    &:hover {
        color: $link-hover-color !important;
    }
}

.editor-page {
    .answer-option {
        .pgn__form-checkbox,
        .pgn__form-radio {
            & + .pgn__form-label {
                min-width: 1.1rem;
            }
        }
    }

    .settingsOption {
        .pgn__form-checkbox .pgn__form-label {
            min-width: .8rem;
        }

        // ToDo: temporary fix of shrinking icon buttons (for palm and possibly quince RG releases only)

        button.btn-icon {
            flex-shrink: 0;
        }
    }

    .pgn__form-radio-input[name="advanceTypes"] {
        flex-shrink: 0;
    }

    .answer-option .mce-content-body {
        word-break: break-word;

        @include media-breakpoint-down(sm) {
            overflow: hidden;
        }
    }

    .pgn__stack-gap--4.flex-wrap.mb-6 {
        @include media-breakpoint-down(sm) {
            max-width: 100%;
        }
    }

    .editProblemView.flex-nowrap {
        @include media-breakpoint-down(sm) {
            flex-wrap: wrap !important;
        }

        & > .flex-grow-1.mb-5 {
            max-width: calc(100% - 345px);

            @include media-breakpoint-down(sm) {
                max-width: 100%;
                margin-bottom: 1.5rem !important;
            }
        }

        @include media-breakpoint-down(sm) {
            .editProblemView-settingsColumn {
                width: 100%;

                .settingsWidget {
                    margin: 0 !important;
                }
            }
        }
    }

    .pgn__modal-body {
        @include media-breakpoint-down(xs) {
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    .pgn-transition-replace-group .bg-light-300 {
        @include media-breakpoint-down(xs) {
            padding: 0 5px !important;
        }
    }

    .pgn__form-control-set .pgn__action-row {
        @include media-breakpoint-down(xs) {
            flex-direction: column;
            flex-wrap: wrap;
            gap: 8px;
            align-items: flex-start;
            justify-content: flex-start;
        }
    }
}

// Override pgn buttons color inside form control

.pgn__form-control-decorator {
    .btn-icon.btn-icon-primary,
    .btn-icon.btn-icon-secondary {
        color: $primary !important;

        &:hover,
        &:focus,
        &:active {
            background-color: $primary !important;
            border-color: $primary !important;
            color: $white !important;
            box-shadow: none !important;
        }
    }
}

// Group configurations links color

.configuration-card-content a.text-info-500,
.help-sidebar .sidebar-link {
    color: $primary !important;

    &:hover {
        color: darken($primary, 15%) !important;
    }
}
