.learning-header + div:not([class], [data-testid]),
.learning-header + p.text-center.py-5.mx-auto {
    flex: 1 1 auto;
}

div[data-testid="exam-timer"] {
    line-height: 1.5;

    .alert-link {
        cursor: pointer;
    }

    .d-flex {
        flex-grow: 0;
    }

    .exam-timer-clock {
        justify-content: flex-end !important;
        flex-grow: 0 !important;
    }
}

.sequence-container > section.zindex-0.fixed-top {
    z-index: 1030 !important;
}
