#root {
    // [Stick footer to bottom] - This complex selector is necessary because in the code of learner-dashboard there are no unique classes we can use to target the element

    & [data-testid="redux-provider"] > [data-testid="browser-router"] > div:first-child:not([class], [id]) > div:first-child:not([class], [id]) {
        display: flex;
        flex-direction: column;
        min-height: 100vh;

        & > main {
            flex: 1 1 auto;
        }
    }

    #dashboard-content .container-fluid {
        max-width: $container-width !important;
    }

    .learner-variant-header {
        max-width: $container-width;
        margin: 0 auto;
        box-shadow: none !important;
        width: 100%;
        position: relative;
        padding: $header-vertical-padding 12px !important;
        box-sizing: border-box;

        & + * {
            position: relative;

            &:before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                height: 5px;
                width: 100%;
                background: linear-gradient(rgba($black, .25), rgba($black, 0));
                opacity: .7;
            }
        }

        .logo {
            height: $header-logo-height !important;
            margin-top: -2px;
            margin-right: 25px;
            padding: 0 !important;
        }

        .btn.btn-inverse-primary {
            padding: 5px !important;
            font-weight: 600;
            font-size: 14px;
            text-transform: uppercase;
            border: none !important;
            margin: 0;
            line-height: 1.5556;
            letter-spacing: .2px;

            &:hover {
                background: transparent;
                color: $primary-700;
            }

            &:focus {
                color: $white;
                border-radius: 3px;
                background: $primary-700;
            }
        }

        .btn.pgn__avatar-button-avatar {
            padding: 10px 21px 10px 8px !important;
            background: transparent;
            color: $primary;
            border-color: $primary;
            margin-left: 10px;
            line-height: 25px;

            &:hover {
                background: $light-300;
            }

            .pgn__avatar {
                width: 27px;
                height: 27px;
                margin-right: 7px;
            }

            .d-md-inline {
                max-width: 120px;
                overflow: hidden;
                vertical-align: middle;
                text-overflow: ellipsis;
                white-space: nowrap;
                text-transform: none;
            }
        }
    }

    form.masquerade-bar {
        max-width: $container-width;
        margin: 0 auto;

        @include media-breakpoint-down(xs) {
            position: relative;
            padding: 50px 10px 10px;
        }

        .masquerade-form-label {
            padding-left: 0;

            @include media-breakpoint-down(xs) {
                position: absolute;
                top: 10px;
                left: 10px;
                z-index: 2;
            }

            & > .pgn__icon svg {
                fill: $gray-700;
            }
        }

        .masquerade-form-input {
            max-width: none;
        }

        .btn-brand {
            margin-right: 0 !important;
        }
    }

    .course-list-container {
        .pgn__card {
            .pgn__card-header .pgn__card-header-actions {
                margin-top: 23px;
            }

            .pgn__card-wrapper-image-cap.horizontal {
                // Note: temporary fix for paragon Card image stretching for Safari
                // Paragon Issue: https://github.com/openedx/paragon/issues/3187
                // MFE issue: https://github.com/openedx/frontend-app-learner-dashboard/issues/265
                display: flex;

                @include media-breakpoint-down(sm) {
                    max-width: 100%;
                    max-height: 300px;
                }

                .pgn__card-image-cap {
                    @include media-breakpoint-down(sm) {
                        margin: 0 auto;
                    }
                }
            }
        }

        .pgn__action-row[data-test-id="CourseCardActions"] {
            @include media-breakpoint-down(xs) {
                flex-wrap: wrap;
                width: 100%;
            }
        }
    }
}
