.profile-page {
    // add cropping for a long username

    h1.font-weight-bold {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    // add padding to the section with username for mobile

    .row .col.pl-0 {
        padding-left: $col-gutter-width / 2 !important;
    }

    // add limits for long select wrappers

    .form-group,
    .col-form-label + span {
        max-width: 100%;
    }

    // add limits for long selects

    .form-control {
        max-width: 90%;
    }
}
