.tox {
    .tox-button:not(.tox-button--secondary, .tox-button--naked) {
        background-color: $primary;
        border-color: $primary;

        &:hover:not(:disabled),
        &:focus:not(:disabled),
        &:active:not(:disabled) {
            background-color: darken($primary, 6%);
            border-color: darken($primary, 6%);
        }
    }

    .tox-textfield,
    .tox-listboxfield .tox-listbox--select,
    .tox-textarea,
    .tox-selectfield select {
        &:focus {
            border-color: $primary;
        }
    }

    .tox-dialog__body-nav-item--active {
        color: $primary;
        border-bottom-color: $primary;
    }

    .tox-dialog__body-nav-item:focus {
        background: rgba($primary, .05);
    }

    .tox-checkbox__icons .tox-checkbox-icon__checked,
    .tox-checkbox__icons .tox-checkbox-icon__indeterminate {
        svg {
            fill: $primary;
        }
    }

    input.tox-checkbox__input:focus + .tox-checkbox__icons {
        box-shadow: inset 0 0 0 1px $primary;
    }
}
